*{
    margin: 0%;
    padding: 0%;
}
.calculator{
   margin: 0px auto;
   height: 350px;
   width: 350px;
   text-align: center;
   box-shadow: 0px 10px 10px 0px rgb(83, 80, 80);
   transition: 0.3ms;
}
.calculator:hover{
    box-shadow: 0px 16px 16px 0px rgb(83, 80, 80);
}
.box{
    height: 100px;
    width: 300px;
    text-align: right;
    font-size: 32px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 3px;
}

.btn{
    height: 32px;
    width: 45px;
    background-color: rgb(13, 0, 73);
    color: aliceblue;
    font-weight: bolder;
    font-size: 15px;
    border-collapse: collapse;
    
    
}
.buttons{
    margin-top: 5px;
    background-color: rgb(242, 232, 255);
    text-align: center;
    
}
.under{
    margin-top: 3px;
}
.btn:hover{
    background-color: rgb(255, 47, 99);
}
.d-button-style{
    background-color: blue;
}
.d-button-style:hover{
    background-color: aquamarine;
    color: black;
}
.d-style{
    background-color: rgb(255, 72, 6);
}
.d-style:hover{
    background-color: rgb(164, 255, 122);
    color: blue;
}